<%- include("../partials/header"); %>
    <script>
        function showAlertFromQuery() {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');

            if (message) {
                alert(decodeURIComponent(message));
            }
        }

        window.onload = function () {
            showAlertFromQuery();
        }
    </script>
    <form action="/login" method="post" class="my-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" style="color: aliceblue;" class="form-text">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include("../partials/footer"); %>