<%- include("./partials/header"); %>
<div>
    <section class="about-section bg-dark py-5 vh-100">
        <h2 class="display-4 text-center mb-5">About Us</h2>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="lead">Welcome to My Movie Website, where the magic of cinema comes alive. This platform is dedicated to
                        providing
                        a curated selection of films for every movie enthusiast. Whether you're a devoted cinephile or a casual
                        viewer, we're here to enhance your cinematic experience.</p>
    
                    <p class="lead">Our mission is to be your go-to destination for discovering, exploring, and celebrating the world of
                        movies.
                        I believe in the power of storytelling and its ability to inspire, entertain, and connect people across
                        the
                        globe.</p>
    
                    <p class="lead mb-0">Join me on this cinematic journey! Explore our collection, and let the magic
                        of
                        movies unfold. Thank you for being a part of our movie-loving community!</p>
                </div>
            </div>
        </div>
        <br>
        <footer class="site-footer bg-dark text-white py-3 my-3">
            <div class="container text-center">
                <p class="mb-0">&copy; 2024 Movie Website. All rights reserved.</p>
            </div>
        </footer>
    </section>
    
    
</div>

    <%- include("./partials/footer"); %>